.topbar-spirit {
  background: url(../images/topbar.png) no-repeat;
  background-position: 0 9999px;
}

.bottom-logo {
  background: url(../images/foot.png) no-repeat;
  background-position: 0 9999px;
}

.bottom-tt {
  background: url(../images/foot_tt.png) no-repeat;
  background-position: 0 9999px;
}
.download-spirit {
  background: url(../images/download.png) no-repeat;
  background-position: 0 9999px;
}

.banner-spirit {
  background: url(../images/banner.png) no-repeat;
  background-position: 0 9999px;
}

.index-spirit {
  background: url(../images/index.png) no-repeat;
  background-position: 0 9999px;
}

.coverall-spirit {
  background: url(../images/coverall.png) no-repeat;
  background-position: 0 9999px;
}

.iconall-spirit {
  background: url(../images/iconall.png) no-repeat;
  background-position: 0 9999px;
}